@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "sweetalert2/src/sweetalert2.scss";

:root {
  --color-blue: #3b82f6;
  --color-white: #fff;
  --color-gray: #94a3b8;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #64748b;
  --color-black: #000;
  --tw-bg-opacity: 1;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../assets/fonts/Montserrat/Montserrat-Regular.ttf")
      format("truetype"),
    url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"),
    url("../assets/fonts/Montserrat/Montserrat-Italic.ttf") format("truetype"),
    url("../assets/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.alert {
  padding: 1rem;
  max-width: 60rem;
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem auto 1rem auto;
}

.alert.error {
  color: #b91c1c;
  border-left: 5px solid #b91c1c;
  background-color: var(--color-white);
}

.text-overflow {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.gradiant ~ .animated-hover:hover {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.479) 25%,
    rgba(0, 0, 0, 0.137) 100%
  );
}

.gradiant {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 100%
  );
}

.border-color {
  background-color: rgb(8 193 249 / 94%);
  border-radius: 0rem 2rem 0px 0px;
}

.card {
  overflow: hidden;
}

.card .animated-hover:hover {
  bottom: 0;
  transform: translateY(0px);
  animation: slide-botton 1s easeOut 0s 1 normal forwards;
}

.card .animated-hover {
  bottom: 0;
  transform: translateY(108px);
  animation: slide-top 1s easeOut 0s 1 normal forwards;
}

@keyframes slide-top {
  0% {
    transform: translateY(108px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes slide-botton {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-100px);
  }
}
